.import {
    width: 54.4%;
    margin-top: 10.44rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-self: center;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    vertical-align: bottom;
    /* text-align: center; */
    align-items: center;
}

.import-button {
    all: unset;
    display: flex;
    margin-top: 11.66rem;
    width: 10.16494rem;
    height: 3.18419rem;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 0.5rem;
    background: #54a0ff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.label {
    display: flex;
    width: 29.8125rem;
    height: 2.125rem;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.path-box {
    all: unset;
    width: 29.8125rem;
    height: 2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    border-bottom: 0.25rem solid #ffffff;
    border-color: #ffffff;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.picker {
    color: #ffffff;
    font-size: 4.125rem;
    vertical-align: bottom;
    align-self: bottom;
    display: flex;
    margin-top: 1.82rem;
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}
