.import {
    width: 54.4%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    vertical-align: bottom;
    align-items: center;
}

.import-button {
    all: unset;
    width: 10.16494rem;
    height: 3.18419rem;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 0.5rem;
    background: #54a0ff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.error-text {
    color: #f53b57;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-container {
    position: fixed;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.label {
    width: 29.8125rem;
    height: 2.125rem;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.05rem;
    font-weight: 500;
    line-height: normal;
}

.path-box {
    all: unset;
    width: 29.8125rem;
    height: 2.5rem;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 0.18rem solid #ffffff;
    border-color: #ffffff;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: inline-block;
}

.picker {
    color: #ffffff;
    font-size: 3.5rem;
    margin-top: 2rem;
    display: inline-block;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}
